@model Person
<div id="personInfo">
    @{
        var today = DateTime.Today;

        var a = (today.Year * 100 + today.Month) * 100 + today.Day;
        var b = (Model.DOB.Year * 100 + Model.DOB.Month) * 100 + Model.DOB.Day;

        int Age = (a - b) / 10000;

    }

    <table class="table">
        <tr>
            <th>Name</th>
            <td>@Model.FirstName @Model.MiddleName @Model.LastName</td>
        </tr>
        <tr>
            <th>Age</th>
            <td>@Age</td>
        </tr>
        <tr>
            <th>Date of Birth:</th>
            <td>@Model.DOB</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>@Model.Gender</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>@Model.Phone</td>
        </tr>
    </table>
</div>