@model IEnumerable<FoodPantry2k23.Models.Person>

@{
    ViewData["Title"] = "Index";
    var peopleUrl = @Url.Action("Index", "People");
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="People" asp-action="Index" method="post">
    <p>
        Title: <input type="text" id="FirstOrLastName" name="FirstOrLastName" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HouseHoldID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="peopleList">
        <partial name="_PersonSearchResults.cshtml" model="Model" />
    </tbody>
</table>

