@model List<Person>

<div class="container">
    <div class="row">
        <div class="col-sm 6">
            <form asp-controller="HouseHold" asp-action="SearchPeople" method="post">
                <p>
                    Title: <input type="text" id="SearchName" name="SearchName" />
                    <input type="submit" value="Filter" />
                </p>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 fw-bold">Name</div>
        <div class="col-sm-3 fw-bold">Date of Birth</div>
        <div class="col-sm-2 fw-bold">Gender</div>
        <div class="col-sm-2 fw-bold">Email</div>
        <div class="col-sm-2 fw-bold">Phone</div>
    </div>
    <div id="peopleSearchResults">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-sm-3">@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.MiddleName) @Html.DisplayFor(modelItem => item.LastName)</div>
                <div class="col-sm-3">@Html.DisplayFor(modelItem => item.DOB)</div>
                <div class="col-sm-2">@Html.DisplayFor(modelItem => item.Gender)</div>
                <div class="col-sm-2">@Html.DisplayFor(modelItem => item.Email)</div>
                <div class="col-sm-2">@Html.DisplayFor(modelItem => item.Phone)</div>
            </div>
        }
    </div>
</div>



